<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="NexusDB"
             connectionString="Data Source=CHRONOS;Initial Catalog=NexusERP;User ID=sa;Password=SHYMOM;TrustServerCertificate=True"
             providerName="Microsoft.Data.SqlClient" />
	</connectionStrings>
</configuration>
